body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: green;
    height: 100vh;
}

.container {
    background-color: blue;
    height: 100vh;
    display: flex;
    align-items: center;
}

.row {
    height: 80vh;
    width: 100vw;
    align-items: center;
}

/* .player button {
    margin: 0.75em;
    border: 1px solid black;
}

.computer button {
    margin: 0.75em;
    border: 1px solid black;
} */

.player button:hover {
    background-color: black;
    color: white;
}

.playerSelectedPlayer {
    background-color: black;
    color: white;
}

.playerSelectedComputer {
    background-color: black;
    color: white;
}

.col-6 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#scorePlayer, #scoreComputer {
    color: yellow;
    margin: 20px;
    font-size: 2em;
}

/* Filp box CSS */

.flip-box {
    background-color: transparent;
    width: 225px;
    height: 55vh;
    border: 1px solid black;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box.flip .flip-box-inner {
    transition: transform 0.8s;
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-image: url("assets/card-back.png");
    background-size: cover;
    color: black;
}

.flip-box-back {
    background-color: rgb(249, 216, 174);
    color: black;
    transform: rotateY(180deg);
}

.flip-box-back img {
    margin-top: 0.75em;
    max-width: 225px;
}

/* Start of game overlay styles */

#gameStart {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameStart.show {
    display: flex;
}

.gameStartText {
    text-align: center;
    color: yellow;
    padding-bottom: 50px;
}

.gameStartButton {
    font-size: 5rem;
    padding: 0.1em 0.3em 0.1em 0.3em;
}

.gameStartButton:hover {
    background-color: black;
    color: white;
}

