.container-fluid {
    background-color: green;
    height: 100vh;
}

.container {
    background-color: blue;
    height: 100vh;
}

.row {
    height: 100vh;
}

.card {
    width: 18rem;
    max-height: 500px;
}

.card-body p {
    border: 1px solid black;
}

div .col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameStart {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameStart.show {
    display: flex;
}

.gameStartText {
    text-align: center;
    color: yellow;
    padding-bottom: 50px;
}

.gameStartButton {
    font-size: 5rem;
    padding: 0.1em 0.3em 0.1em 0.3em;
}

.gameStartButton:hover {
    background-color: black;
    color: white;
}

