/* Page layout styles */

body {
    margin: 0;
    padding: 0;
    background-image: url('assets/basketball_court.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.my-row {
    height: 99vh;
}

.my-col {
    border: 6px solid black;
    padding: 10px 0px 10px 0px;
}

img {
    height: 130px;
    width: 100px;
    border: 1px solid black;
}

/*  */

button {
    display: block;
}

.player button:hover {
    background-color: black;
    color: white;
}

.computer button.hide{
    background-color: black;
    color: black;
}

.playerSelectedPlayer {
    background-color: black;
    color: white;
}

.playerSelectedComputer {
    background-color: black;
    color: white;
}

#scorePlayer,
#scoreComputer {
    color: yellow;
    margin: 20px 0px 20px 0px;
    font-size: 2em;
}

#statOnePlayer,
#statOneComputer {
    font-size: large;
    font-weight: 500;
}

/* Start and End of game overlay styles */

#gameStart,
#gameEnd {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameStart.show,
#gameEnd.show {
    display: flex;
}

.gameStartText,
.gameEndText {
    text-align: center;
    color: yellow;
    padding-bottom: 50px;
    max-width: 700px;
}

.gameStartButton,
.gameEndButton {
    font-size: 5rem;
    padding: 0.1em 0.3em 0.1em 0.3em;
}

.gameStartButton:hover,
.gameEndButton:hover {
    background-color: black;
    color: white;
}